<div class="container">
  <div class="games-text">
      <div class="game-list">
        <div *ngFor="let game of games" class="game-item">
          <a [routerLink]="[ game.name.toUpperCase()]">
            <img [src]="game.img" alt="{{ game.name }}">
            <p>{{ game.name }}</p>
          </a>
        </div>
      </div>
      <div class="game-slider">
        <div *ngFor="let slider of gameslider">
          <img [src]="slider.img">
        </div>
      </div>
      <div class="inplay">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
        <span class="inplay-text">Inplay</span>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  