<div class="match-card">
    <div class="header">
        <div class="icon-cricket">🏏Cricket</div>
        <div class="one-x-two">
            <div class="one">1</div>
            <div class="x">x</div>
            <div class="two">2</div>
        </div>        
    </div>
        <div class="match-details" *ngFor="let data of cricketData" (click)="inPlayDetails(data.matchcode)">
            <div class="match-left">
                <div class="match-date">
                    <p class="small-bracket">(<span class="blinking-bullet"></span>)</p>
                </div>  
                
                <div class="match-team">
                    <p>{{truncateTitle(truncateTitle(data.title))}}</p>
                </div>
            </div>
            <div class="match-one-x-two">
                <div class="bet-one" >{{data.mbet}}</div>
                <div class="bet-x">-</div>
                <div class="bet-two">{{data.sbet}}</div>

            </div>       
        </div>
        <div class="match-details" *ngFor="let data of upcomingCricketData" (click)="inPlayDetails(data.matchcode)">
            <div class="match-left">
                <div class="match-date">
                    <p class="match-time">{{data.time}}</p>
                </div>
                
                <div class="match-team">
                    <p>{{truncateTitle(truncateTitle(data.title))}}</p>
                </div>
            </div>
            <div class="match-one-x-two">
                <div class="bet-one" >{{data.mbet}}</div>
                <div class="bet-x">-</div>
                <div class="bet-two">{{data.sbet}}</div>

            </div>       
        </div>
        <div>

          </div>
          <div class="match-score">
    </div>
    
</div>