<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1" style="background-color: #30469C; "><i class="material-icons toggle-icon">vpn_key</i></span>
                    <input  [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Change Password" aria-label="Username" aria-describedby="basic-addon1" formControlName="changePassword">
                    <span class="input-group-text"><i class="material-icons toggle-icon" (click)="toggleCurrentPasswordVisibility()">{{showPassword ? 'visibility' : 'visibility_off'}}</i></span>
                </div>
                <div *ngIf="changePasswordForm.get('currentPassword')?.errors && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)" class="alert alert-danger">
                    {{ getErrorMessage('currentPassword') }}
                  </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons toggle-icon">vpn_key</i></span>
                    <input [type]="showNewPassword ? 'text' : 'password'" class="form-control" placeholder="New Password" aria-label="newPassword" aria-describedby="basic-addon1" formControlName="newPassword">
                    <span class="input-group-text"><i class="material-icons toggle-icon"  (click)="toggleNewPasswordVisibility()">{{showNewPassword ? 'visibility' : 'visibility_off'}}</i></span>
                    
                </div>
                <div *ngIf="changePasswordForm.get('newPassword')?.errors && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)" class="alert alert-danger">
                    {{ getErrorMessage('newPassword') }}
                  </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons toggle-icon">vpn_key</i></span>
                    <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" placeholder="Confirm Password" aria-label="confirmPassword" formControlName="confirmPassword" aria-describedby="basic-addon1">
                    <span class="input-group-text"><i class="material-icons toggle-icon"  (click)="toggleConfirmPasswordVisibility()">{{showConfirmPassword ? 'visibility' : 'visibility_off'}}</i></span>
                </div>
                <div *ngIf="changePasswordForm.errors?.['mismatch'] && (changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('confirmPassword')?.touched)" class="alert alert-danger">
                    Passwords do not match.
                </div>
                <div class="parent-container">
                    <button type="submit" class="btn change-password-btn"  [disabled]="!changePasswordForm.valid">Change Password</button>
                </div>

            </form>

        </div>
    </div>
</div>