.alert-danger{
    font-family: 'poppins';
    font-size: 12px;
}
.input-group-text{
    background-color: #30469C; 
    color: white; 

}
.toggle-icon{
    color: white;
}
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .change-password-btn{
    margin: auto; display: block; background-color: #30469C !important;
    color: white;
  }