<div class="container-fluid" *ngIf="bettDetails.length != 0">
    <div class="bet-table">
      <div class="session">
        <h4>Session Bets</h4>
      </div>
      <div class="container" style="width: 100%; overflow-x: auto;">
    
        <table class="table">
          <thead>
            <tr>
              <th>Session Bets</th>
              <th>Amount</th>
              <th>Rate</th>
              <th>Run</th>
              <th>Mode</th>
              <th>Session Name</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let match of bettDetails | paginate: { itemsPerPage: pageSize, currentPage: currentPage };let i = index">
             
              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.sessionBets }}</td>
              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.amount }}</td>
              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.rate }}</td>

              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.run }}</td>
              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.mode }}</td>
              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.sessionName }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage = $event" style="justify-content: center; align-items: center;text-align: center;"></pagination-controls>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="matchBets.length != 0">
    <div class="bet-table">
      <div class="session">
        <h4>Match Bets</h4>
      </div>
      <div class="container" style="width: 100%; overflow-x: auto;">
    
        <table class="table">
          <thead>
            <tr>
              <th>Match Bets</th>
              <th>Amount</th>
              <th>Bit Rate</th>
              <th>Bit Mode</th>
              <th>Bit Team</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let match of bettDetails | paginate: { itemsPerPage: pageSize, currentPage: currentPage };let i = index">
             
              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.sessionBets }}</td>
              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.amount }}</td>
              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.rate }}</td>

              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.run }}</td>
              <td [ngStyle]="{'background-color': i % 2 === 0 ? '#B8C0DD' : 'none'}">{{ match.sessionName }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage = $event" style="justify-content: center; align-items: center;text-align: center;"></pagination-controls>
      </div>
    </div>
  </div>