<div class="stack-header">
    <h4>CHIP SETTING</h4>
</div>
<div class="container-fluid">
    <div class="col-12">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-6">
                    <div class="chip-name">
                      <div class="form-group">
                        <label for="chipName1">CHIPS NAME 1:</label>
                        <input type="text" id="chipName1" formControlName="chipName1" class="form-control">
                      </div>
                    </div>
                    <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS NAME 2:</label>
                          <input type="text" id="chipName2" formControlName="chipName2" class="form-control" >
                        </div>
                      </div>
                      <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS NAME 3:</label>
                          <input type="text" id="chipName3" formControlName="chipName3" class="form-control" >
                        </div>
                      </div>
                      <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS NAME 4:</label>
                          <input type="text" id="chipName4" formControlName="chipName4" class="form-control" >
                        </div>
                      </div>
                      <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS NAME 5:</label>
                          <input type="text" id="chipName1" formControlName="chipName5" class="form-control" >
                        </div>
                      </div>
                      <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS NAME 6:</label>
                          <input type="text" id="chipName1" formControlName="chipName6" class="form-control">
                        </div>
                      </div>
                      <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS NAME 7:</label>
                          <input type="text" id="chipName7" formControlName="chipName7" class="form-control">
                        </div>
                      </div>
                  </div>
                  <div class="col-6">
                    <div class="chip-name">
                      <div class="form-group">
                        <label for="chipName1">CHIPS VALUE 1:</label>
                        <input type="text" id="chipValue" formControlName="chipValue1" class="form-control">
                      </div>
                    </div>
                    <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS VALUE 2:</label>
                          <input type="text" id="chipValue2" formControlName="chipValue2" class="form-control" >
                        </div>
                      </div>
                      <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS VALUE 3:</label>
                          <input type="text" id="chipValue3" formControlName="chipValue3" class="form-control" >
                        </div>
                      </div>
                      <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS VALUE 4:</label>
                          <input type="text" id="chipValue4" formControlName="chipValue4" class="form-control" >
                        </div>
                      </div>
                      <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS VALUE 5:</label>
                          <input type="text" id="chipValue1" formControlName="chipValue5" class="form-control" >
                        </div>
                      </div>
                      <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS VALUE 6:</label>
                          <input type="text" id="chipValue1" formControlName="chipValue6" class="form-control">
                        </div>
                      </div>
                      <div class="chip-name">
                        <div class="form-group">
                          <label for="chipName1">CHIPS VALUE 7:</label>
                          <input type="text" id="chipValue7" formControlName="chipValue7" class="form-control">
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 10px;background-color: #30469C;">Submit</button>

                </div>
              </form>
              
              
            <!-- <div class="col-md-4 col-6" *ngFor="let chip of chipsName">
                <div class="chip-name" >
                    <div class="form-group">
                        <label for="exampleFormControlInput1">{{chip.chipName}}</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                </div>
            </div> -->

        </div>
</div>