
<app-top-header *ngIf="showHeader"></app-top-header>
<router-outlet />
<app-footer *ngIf="showFooter"></app-footer>

<!-- <div class="container-fluid">
    <div class="row" >
      <div class="col-md-8 col-sm-12">
        <div class="header">
            <h2>this is header</h2>
        </div>
        <div class="col-md-12 col-sm-12 canvas">
            <h2>this is game body</h2>
        </div>
        <div class="betting-app">
            <h2>this is game Bet</h2>
        </div>
    </div>
</div> -->