<h4>BOOKMARK</h4>
<div class="container-fluid">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item neon-text">Due to any reason any team will be getting advantage or disadvantage we are not concerned.</li>
            <li class="list-group-item neon-text"> Company reserves the right to suspend/void any id/bets if the same is found to be illegitimate. For example incase of vpn/robot-use/multiple entry from same IP/ multiple bets at the same time (Punching) and others. Note : only winning bets will be voided.</li>
            <li class="list-group-item neon-text">Any query about the result or rates should be contacted within 4 days of the specific event, the same will not be considered valid post 4 days from the event.</li>
            <li class="list-group-item neon-text">If two team ends up with equal points, then result will be given based on the official point table</li>
            <li class="list-group-item neon-text">At any situation if the video gets interrupted/stopped then the same cannot be continued due to any technical issues bookmaker market will be voided</li>  
            <li class="list-group-item neon-text">Company reserves the right to suspend/void any id/bets if the same is found to be illegitimate. For example incase of VPN/robot-use/multiple entry from same IP and others. Note : only winning bets will be voided.</li>  
            <li class="list-group-item neon-text">Company reserves the right to void any bets (only winning bets) of any event at any point of the match if the company believes there is any cheating/wrong doing in that particular event by the players (either batsman/bowler)</li>
        </ol>
</div>