<h4>BOOKMARK</h4>
    <div class="container-fluid">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item neon-text">Due to any reason any team will be getting advantage or disadvantage we are not concerned.</li>
            <li class="list-group-item neon-text"> Company reserves the right to suspend/void any id/bets if the same is found to be illegitimate. For example incase of vpn/robot-use/multiple entry from same IP/ multiple bets at the same time (Punching) and others. Note : only winning bets will be voided.</li>
            <li class="list-group-item neon-text">Any query about the result or rates should be contacted within 4 days of the specific event, the same will not be considered valid post 4 days from the event.</li>
            <li class="list-group-item neon-text">If two team ends up with equal points, then result will be given based on the official point table</li>
            <li class="list-group-item neon-text">At any situation if the video gets interrupted/stopped then the same cannot be continued due to any technical issues bookmaker market will be voided</li>  
            <li class="list-group-item neon-text">Company reserves the right to suspend/void any id/bets if the same is found to be illegitimate. For example incase of VPN/robot-use/multiple entry from same IP and others. Note : only winning bets will be voided.</li>  
            <li class="list-group-item neon-text">Company reserves the right to void any bets (only winning bets) of any event at any point of the match if the company believes there is any cheating/wrong doing in that particular event by the players (either batsman/bowler)</li>
        </ol>
    </div>
    <div class="container-fluid">
        <h4>BOOKMARK</h4>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item neon-text">किसी भी कारण से किसी भी टीम को फायदा होगा या नुकसान, इसमें हमारी कोई जवाबदारी नहीं है</li>
            <li class="list-group-item neon-text">कंपनी के पास किसी भी आईडी/बेटस को हटाने /शून्य करने का अधिकार है, यदि वह अमान्य पाया जाता है। उदाहरण के लिए vpn/robot-use/एक ही IP से एक से अधिक बेटस एक ही समय में एक से अधिक दांव (पंचिंग) और अन्य के मामले में। नोट: केवल जीतने वाली बेट ही रद्द कर दी जाएगी ।</li>
            <li class="list-group-item neon-text"> रिजल्ट या सेशन  के बारे में किसी भी प्रश्न के लिए रिजल्ट  के 4 दिनों के भीतर संपर्क किया जाना चाहिए, इसे इवेंट के 4 दिनों के बाद मान्य नहीं माना जाएगा।</li>
            <li class="list-group-item neon-text">यदि दो टीमों के अंक समान होते हैं, तो रिजल्ट पॉइंट टेबल के आधार पर दिया जाएगा</li>  
        </ol>
    </div>
    <div class="container-fluid">
        <h4>CASINO</h4>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item neon-text"> यदि किसी कैसिनो गेम में किसी टेक्निकल इशू की
                वजह से रिजल्ट नहीं डलता है तो उस गेम के क्लाइंट
                को कॉइन वापिस कर दिए जायेंगे, ऐसी स्थिति मे कोई
                 वाद विवाद मान्य नहीं होगा</li>
            </ol>
    </div>
    <div class="container-fluid">
        <h4>FANCY RULES</h4>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item neon-text"> मैच टाई होने पर सभी फैंसी बेटस मान्य होंगे।</li>
            <li class="list-group-item neon-text">टॉस या खराब मौसम की स्थिति से पहले सभी एडवांस फैंसीयां ससपेंड कर दी जाएंगी।</li>
            <li class="list-group-item neon-text"> टेक्निकल एरर  या किसी भी परिस्थिति में किसी भी फैंसी को कैंसिल  कर दिया जाता है और इवेंट फिर से शुरू नहीं होता है,तो सभी पिछले दांव मान्य होंगे (हार/जीत के आधार पर)।</li>
            <li class="list-group-item neon-text"> यदि किसी मामले में गलत रेट फैंसी में दी गई है तो उस फैंसी बेटस  को रद्द कर दिया जाएगा।</li>
            <li class="list-group-item neon-text"> किसी भी परिस्थिति में सभी एक्सचेंज में मैनेजमेंट का निर्णय अंतिम होगा। ऑनलाइन पोर्टल में कोई बेमेल होने पर हमारा स्कोरकार्ड मान्य माना जाएगा</li>
            <li class="list-group-item neon-text"> यदि ग्राहक गलत तरीके से बेट लगाता है तो हम डिलीट करने के लिए उत्तरदायी नहीं होंगे, कोई बदलाव नहीं किया जाएगा और बेट को कन्फर्म बेट माना जाएगा।</li> 
            <li class="list-group-item neon-text"> किसी टेक्निकल एरर के कारण मार्किट खुला है और रिजल्ट आ गया है रिजल्ट  के बाद भी सभी गलत  दांव हटा दिए जाएंग। इसमें कोई वाद विवाद मान्य नहीं होगा।</li>   
            <li class="list-group-item neon-text">   हमारे एक्सचेंज में मैनुअल बेट्स ( फ़ोन कॉल के द्वारा ) स्वीकार नहीं किए जाते हैं</li>           

        </ol>
    </div>