thead tr th{
    text-align: center;
}

tbody tr td{
        text-align: center;
        min-width: 140px;
        white-space: nowrap;
        font-family: 'poppins',sans-serif;
        font-weight: 500;
}
.ledger{
    margin-top: 10px;
    width: 100%;
    background-color: #233479;
}
.ledger h4{
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}
tbody tr td.remark {
    
    white-space: pre-wrap; /* Allows for manual and automatic text breaks */
    word-break: break-word; /* Allows long words to break and wrap */
}
.table tbody tr.odd-row {
    background-color: red !important;
}
tbody tr td{
    color: #30469C;
}