<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-left">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">
              <img src="../assets/logo1.png" alt="Bootstrap" width="50" height="25">
          </a>
        </div>
  <div class="header-h3">
       <div class="card-text">
    <h3 class="header-text">100 USD</h3>
    <img src="../assets/profile.png" alt="Bootstrap" width="25" height="24">
</div>
  </div>
  
</div>
</nav>
<app-side-navigation></app-side-navigation>
