<div class="container-fluid">
    <div class="col-12">
    <div class="sport-details-header" style="margin-top: 10px">
      <div class="icon">
        <i  class="bi bi-stopwatch" style="color: white; font-weight: bold;" (click)="goBack()" ></i>
      </div>
        <div class="sport-details-text">
        {{team}}
      </div>
      <div class="icon">
        <i class="bi bi-info-circle" style="color: #F55F13; font-weight: bold;" (click)="goBack()" ></i>
      </div>
    </div>
    </div>
    <div class="nav nav-tabs shadow" id="tabMenu" role="tablist" style="justify-content: center;">
      <button class="nav-link" [class.active]="activeTab === 'score'" (click)="toggleVisibility('score')" role="tab">SCORE</button>
      <button class="nav-link" [class.active]="activeTab === 'liveTv'" (click)="toggleVisibility('liveTv')" role="tab">LIVE</button>
      <button class="nav-link" [class.active]="activeTab === 'mybet'" (click)="toggleVisibility('mybet')" role="tab">MY BETS</button>
      <button class="nav-link" [class.active]="activeTab === 'news'" (click)="toggleVisibility('news')" role="tab">NEWS</button>
    </div>
  </div>
  <div class="container-fluid">
    <div *ngIf="visibilityStates.score"  style="color: white;">
      <app-score [scoreDetails]="scoreDetails"></app-score>
    </div>
    <div *ngIf="visibilityStates.liveTv"  style="color: white;">
        <div class="container-fluid">
            <div  class="i-frame">
              <iframe src="https://www.youtube.com/watch?v=amMJfaB5dXo" title="Live Stream" style="width: 100%; height: 100%; background-color: white;"></iframe>
            </div>
          </div>    
    </div>
    </div>
    <div *ngIf="visibilityStates.mybet" style="color: white;">
        <app-my-bets  [matchBets] ="matchBets"></app-my-bets>
    </div>
    <div class="container-fluid">
        <div class="match-card">
            <div class="header">
                <div class="icon-cricket">Match Odds</div>
                <div class="one-x-two">
                    <div class="one">Back</div>
                    <div class="two">Lay</div>
                </div>        
            </div>
            <div class="match-details" *ngFor="let data of MatchOdds">
                <div class="match-left">                    
                    <div class="match-team">
                        <p>{{truncateTitle(truncateTitle(data.runnerName))}}</p>
                    </div>
                </div>
                <div class="match-one-x-two" *ngIf="data.back1 !=0 || data.lay1 !=0">
                    <div class="bet-one"  (click)="open('K',data)">{{data.back1}}</div>
                    <div class="bet-two"  (click)="open('L',data)">{{data.lay1}}</div>
                </div>       
                <div class="latest" *ngIf="data.back1==0 && data.lay1==0">
                    <div class="suppended-text" >
                      <p >SUSPENDED</p>
                      </div>
                  </div>
            </div>
        </div>
    </div>

    <!-- <div class="container-fluid">
      <div class="match-card">
          <div class="header">
              <div class="icon-cricket">BOOKMARK</div>
              <div class="one-x-two">
                  <div class="one">Back</div>
                  <div class="two">Lay</div>
              </div>        
          </div>
          <div class="match-details" *ngFor="let data of MatchOdds">
            <div class="match-left">                    
                <div class="match-team">
                    <p>{{truncateTitle(truncateTitle(data.team))}}</p>
                </div>
            </div>
            <div class="match-one-x-two" *ngIf="data.krate !=0 || data.lrate !=0">
                <div class="bet-one"  (click)="open('K',data)">{{data.krate}}</div>
                <div class="bet-two"  (click)="open('L',data)">{{data.lrate}}</div>
            </div>       
            <div class="latest" *ngIf="data.krate==0 && data.lrate==0">
                <div class="suppended-text" >
                  <p >SUSPENDED</p>
          
                  </div>
              </div>
        </div>
      </div>
    </div> -->

    <div class="container-fluid">
      <div class="match-card">
          <div class="header">
              <div class="icon-cricket-win">WHO WIll WIN THE MATCH</div>
              <div class="one-x-two">
                  <div class="one">Back</div>
                  <div class="two">Lay</div>
              </div>        
          </div>
          <div class="match-details" *ngFor="let data of marketData">
            <div class="match-left">                    
                <div class="match-team">
                    <p>{{truncateTitle(truncateTitle(data.runnerName))}}</p>
                </div>
            </div>
            <div class="match-one-x-two" *ngIf="data.back !=0 || data.lay !=0">
                <div class="bet-one"  (click)="open('K',data)">{{data.back}}</div>
                <div class="bet-two"  (click)="open('L',data)">{{data.lay}}</div>
            </div>       
            <div class="latest" *ngIf="data.back==0 && data.lay==0">
                <div class="suppended-text" >
                  <p >SUSPENDED</p>
                  </div>
              </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="nav nav-tabs shadow" id="tabMenu" role="tablist" style="justify-content: left;">
            <button class="nav-link" [class.active]="activeTab === 'market'" (click)="toggleVisibility('market')" role="tab">MARKET</button>
            <button class="nav-link" [class.active]="activeTab === 'primeCricket'" (click)="toggleVisibility('primeCricket')" role="tab">PREMIUM CRICKET</button>
        </div>
    </div>



    <div class="container-fluid">
        <div class="match-card fancy">
            <div class="header">
                <div class="icon-cricket">Fancy</div>
                <div class="one-x-two">
                    <div class="one">YES</div>
                    <div class="two">NO</div>
                </div>        
            </div>
            <div class="match-details" *ngFor="let data of fancy">
                <div class="match-left">                    
                    <div class="match-team">
                        <p>{{truncateTitle(truncateTitle(data.runnerName))}}</p>
                    </div>
                </div>
                <div class="match-one-x-two" *ngIf="(data.nRun !=0 || data.nRate != 0)">
                    <div class="bet-one" (click)="open('YES',data)" >
                        <div class="n-run">{{data.nRun}}</div>
                        <div class="n-rate">{{data.nRate}}</div>                        
                    </div>
                    <div class="bet-two" (click)="open('NO',data)" >
                        <div class="n-run">{{data.yRun}}</div>
                        <div class="n-rate">{{data.yRate}}</div> 
                    </div>
                </div> 
                <div class="latest" *ngIf="(data.nRun ==0 || data.nRate == 0)" >
                    <div class="suppended-text" >
                      <p >SUSPENDED</p>
                      </div>
                  </div>      
            </div>
        </div>
      </div>

      <!-- TIE MATCH CONTAINER -->
    <!-- <div class="container-fluid" style="margin-bottom: 70px;">
        <div class="match-card">
            <div class="header">
                <div class="icon-cricket">TIED MATCH</div>
                <div class="one-x-two">
                    <div class="one">Back</div>
                    <div class="two">Lay</div>
                </div>        
            </div>
            <div class="match-details" *ngFor="let data of MatchOdds">
              <div class="match-left">                    
                  <div class="match-team">
                      <p>{{truncateTitle(truncateTitle(data.team))}}</p>
                  </div>
              </div>
              <div class="match-one-x-two" *ngIf="data.krate !=0 || data.lrate !=0">
                  <div class="bet-one"  (click)="open('K',data)">{{data.krate}}</div>
                  <div class="bet-two"  (click)="open('L',data)">{{data.lrate}}</div>
              </div>       
              <div class="latest" *ngIf="data.krate==0 && data.lrate==0">
                  <div class="suppended-text" >
                    <p >SUSPENDED</p>
                    </div>
                </div>
          </div>
        </div>
      </div> -->
  
