
.login-text .login{
    font-size: 20px;
    font-family: 'poppins',sans-serif;
    font-weight: 800;
    color :white;
    margin:20px;
    z-index: 999;
}
.login-background-img{
    margin-top: 40px;
    width: 100% !important;
}
.input-group-text{
    height: 40px;
    background-color: #233479;
}
.toggle-icon{
    color: white;
}