<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header d-flex justify-content-center align-items-center">
        <div class="image-container">
            <img src="../../assets/latestprofile.jpg" alt="Profile" class="header-image"/>
            <p class="image-text">Shafi sadique</p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav">
            <li class="nav-item">
                <img src="../../assets/f.png">
                <a class="nav-link" aria-current="page">HOME</a>
            </li>
            <li class="nav-item">
                <img src="../../assets/e.png">
                <a class="nav-link" [routerLink]="['/stack']" data-bs-dismiss="offcanvas">EDIT STACK</a>
            </li>
            <li class="nav-item">
                <img src="../../assets/d.png">                      
                <a class="nav-link" href="#">SPORTS</a>
            </li>
            <li class="nav-item">
                <img src="../../assets/c.png">

                <a class="nav-link" [routerLink]="['/passbook']" data-bs-dismiss="offcanvas">PASSBOOK</a>
            </li>
            <li class="nav-item">
                <img src="../../assets/b.png">                        
                <a class="nav-link" [routerLink]="['/ledger']" data-bs-dismiss="offcanvas">LEDGER</a>
            </li>
            <li class="nav-item">
                <img src="../../assets/h.png">                     
                <a class="nav-link" [routerLink]="['/password']" data-bs-dismiss="offcanvas">PASSWORD</a>
            </li>
            <li class="nav-item">
                <img src="../../assets/g.png">                                
                <a class="nav-link" [routerLink]="['/rules']" data-bs-dismiss="offcanvas">RULES</a>
            </li>
            <li class="nav-item">
                <i class="fas fa-sign-out-alt" style="margin-top: 10px; margin-right: 10px;"></i>
                <a class="nav-link" (click)="logOut()">LOGOUT</a>
            </li>
        </ul>
    </div>
</div>